<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apx6.chipmunk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".app.ChipmunkApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chipmunk"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:noHistory="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.LoginActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.DashBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.Chipmunk.NoActionBar" >
        </activity>

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.AppUpdateActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.RegisterActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.SettingActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.CategoryManageActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.InfoActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name="com.apx6.chipmunk.app.ui.activity.OpenSourceActivity"
            android:theme="@style/Theme.Chipmunk.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".app.ui.picker.RangePickerActivity"
            android:label="Date Range Picker" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao9e6558b0ff2328661fc462b40990bacb" />
            </intent-filter>
        </activity>

        <!-- FCM -->
        <service
            android:exported="false"
            android:name=".app.fcm.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- FCM BroadCastReceiver -->
        <receiver
            android:exported="false"
            android:name=".app.fcm.FcmBroadcastReceiver" />



        <!-- ▼ TEST ==================================================================================================================== -->
        <!-- TestActivity -->
        <activity
            android:exported="false"
            android:name=".app.ui.test.TestActivity" >
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>
</manifest>